main {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 2fr 1fr;
}

main h1 {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}

input.namelabel {
  grid-row: 2 / 3;
  grid-column: 2 / span 1;
}

input.nameinput {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
