.get {
  margin: 3vh;
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  align-items: center;
  border-color: black;
}

main img {
  height: 30vh;
}

main {
  border: 0.5vh solid black;
}
p {
  margin: 3vh;
  display: flex;
  width: 25vh;
}

.myself {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  margin: 4vw;
  background-color: #ffb81c;
  border: 0.5vh solid black;
}

.intro {
  display: flex;
  flex-grow: 1;
  font-size: larger;
}

.quote {
  color: #ffb81c;
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.kobe {
  align-self: flex-end;
}
